name: Processing Functions
env:
   LOCATION: uksouth
   APPLICATION_NAME: spo0ons
on: [workflow_dispatch]
      
jobs:
  build-and-deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
         dotnet-version: 3.1.200
      
    
    - name: 'Run dotnet build'
      shell: bash
      run: |
        # If your function app project is not located in your repository's root
        # Please consider using pushd to change your path
        pushd Horus.Functions
        dotnet nuget add source https://www.myget.org/F/azure-appservice-staging/api/v3/index.json -n azure-appservice-staging
        dotnet build --configuration Debug --output ./output
        popd 
        
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
   
    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: ${{env.APPLICATION_NAME}}-func
        # If your function app project is not located in your repository's root
        # Please consider prefixing the project path in this package parameter
        package: 'Horus.Functions/output'
        
